[2019-08-29 07:52] jcarpent opened #1 "Renaming the project"
@nim65s I think a better name for the project is expected for clarity and self-explainability.
`many-robots-description` may be a candidate.

[2019-08-29 07:53] nim65s commented on #1
@cmastalli what do you think about this ?

[2019-08-29 08:07] cmastalli commented on #1
To be honest, I don't like neither the keyword "data", instead using description is a good idea seems most people are familiar with this because ROS community. What about just description (without plural)? Instead we could might put the plural in robot, i.e. "robots".

What it doesn't convince me yet is the keyword "many". I remember that @ostasse likes the keyword "example". His point is somethin

[2019-08-29 10:11] nim65s commented on #1
"erobots" could be understood as "e-robot", which doesn't mean much and would therefore make a good name for science fiction films, or "ero-bots", which mean something else we don't want to see here…

The contraction "e(xample-)robots" is not clear for me.

example-robots-descriptions is fine for me. The 2 plurals can explain both that we have multiple robots and that we have multiple descriptions

[2019-08-29 10:18] nim65s commented on #1
but another version of example-robot(s)-description(s) is also good for me

[2019-08-29 10:25] jcarpent commented on #1
robot-description-collection

[2019-08-29 10:29] nim65s commented on #1
I agree with @olivier-stasse, it has to be clear that these must not be used on real robots, and they can only serve in examples, unit-tests or benchmarks. Maybe "example" is not the best word for that, but this idea has to be in the title

[2019-10-30 09:32] sduminy opened #2 "Same configuration for 2 different posture names in solo_description/srdf"
In the srdf file of the solo_desciption (https://github.com/Gepetto/example-robot-data/blob/master/solo_description/srdf/solo.srdf), both renamed postures "standing" and "straight_standing" correspond to the same configurations. Maybe one should be deleted ?

[2019-11-05 14:34] nim65s commented on #2
cc @cmastalli

[2019-11-05 15:48] cmastalli commented on #2
It is not the same. Note that the value of the hip abduction/adduction joint are different.

[2019-11-05 20:16] cmastalli commented on #2
Feel free to reopen it.

And we could create other default postures if it is needed

[2019-11-06 07:47] sduminy commented on #2
Okay, my bad, I didn't see. Thanks !

[2019-11-06 07:47] #2 closed

[2019-11-27 11:55] wxmerkt opened #4 "New release with fixed ANYmal URDFs"
For MEMMO deliverable :-)

[2019-11-27 12:18] nim65s commented on #4
source release available here: https://github.com/Gepetto/example-robot-data/releases/tag/v3.1.1
binary release will follow in a few hours :)

[2019-11-27 12:18] #4 closed

[2019-11-27 12:18] wxmerkt commented on #4
Thank you!

[2019-11-28 18:33] gabrielebndn opened #5 "Why the loaders?"
In [robots_loader.py](https://github.com/Gepetto/example-robot-data/blob/d9bd324d0aa82cf3166e0610cad0652b31dfad2c/python/example_robot_data/robots_loader.py) there are many utility methods to load a `RobotWrapper` containing one of the robots of this repository.

Is it really needed? I do not like these special methods. There are many reasons why I say this:
1. For most robots, they amount to litt

[2019-12-05 16:36] gabrielebndn commented on #5
No answers? @nmansard? @jcarpent?

[2019-12-05 16:44] jcarpent commented on #5
@gabrielebndn I think the loaders have been thought to be easy to use. Avoiding looking for a particular description of a robot (path_name, etc.). I don't see really the point of not having them.

[2019-12-05 17:01] gabrielebndn commented on #5
I don't know. Design-wise, I do not like them, for all the reasons listed above

[2019-12-06 09:21] nmansard commented on #5
I agree with 1. We should not use robot-wrapper in the loader, to make it easier to not use robot-wrapper in later applications.
For the rest, I believe the easiness of loading these robot counterbalance the disadvantage.

[2019-12-20 10:33] florent-lamiraux opened #9 "Using meshes provided by example-robot-data"
Following recent discussions, I propose to move forward in  the direction of using meshes provided by example-robot-data instead of native description packages.

I will propose a pull request handling robots for which I will have tested that this does not break anything when loading models.

I also propose to revert commit ed85b87 since @cmastalli uses the lighting provided by the models.

[2020-01-07 13:46] cmastalli commented on #9
Sounds good for me.

Thanks for taking care @florent-lamiraux

[2020-01-22 14:44] dadouz opened #12 "missing files for FANUC robots"
i want to ask you if you you can add a folder with related files for following robots:
- Fanuc R-2000iB 165F
- Fanuc CR35iA

we want to use the examples from pinocchio.

[2020-01-22 15:26] wxmerkt commented on #12
I am not sure we want to add all possible robots to the example repository. You can easily write a new robot wrapper for existing URDF/SRDF pairs.

[2020-01-22 15:37] gabrielebndn commented on #12
Hi @dadouz, this repo is mostly conceived as a set of shortcuts for the stack of tasks development team. Its use in real projects in not really recommended.
Pinocchio can perfectly work (and usually works) without this repo and you should not let yourself be blocked by the absence of a certain model here.
You can find at [pinocchio/examples/robot-wrapper-viewer.py](https://github.com/stack-of-task

[2020-04-02 15:43] nim65s opened #16 "__main__.py should check for gepetto-gui"
And if gepetto-gui is not found, it should launch it.

But this behavior could be implemented at the gepetto-viewer / gepetto-viewer-corba level.

Maybe we should consider other viewers too…

[2020-04-02 15:44] nim65s commented on #16
ref https://github.com/humanoid-path-planner/hpp-rbprm-corba/blob/devel/src/hpp/corbaserver/rbprm/__main__.py#L51

[2020-04-02 17:57] cmastalli opened #17 "UR robot doesn't work with latest release"
This is the code
[code]
and it appears
[code]

I don't know what it is the source of the problem, maybe pinocchio?
This issue was reported by @mfocchi

[2020-04-02 19:43] nim65s commented on #17
those `package://` stuff are usually loaded by resource-retriever, by looking at ROS_PACKAGE_PATH, or CMAKE_PREFIX_PATH.

I think this `loadUR()` method is ran in unit tests, and [unit tests are passing](https://gepgitlab.laas.fr/gepetto/example-robot-data/pipelines), so I guess this is just about the configuration on your side.

But yes, we should probably advertise that we have a dependency on s

[2020-04-02 21:21] cmastalli commented on #17
This was not necessary before, indeed it is not required for the other robots.

It should fix the issue by returning back the old way of including the meshes file, i.e.
[code]

There is a reason to this change, could we return it back?

---

I really don't like to depend on ROS setup :(

[2020-04-02 21:29] cmastalli commented on #17
This was not necessary before, indeed it is not required for the other robots.

It should fix the issue by returning back the old way of including the meshes file, i.e.
[code]

There is a reason to this change, could we return it back?

---

I really don't like to depend on ROS setup :(

[2020-04-02 22:02] wxmerkt commented on #17
Pinocchio recently made changes to the URDF loaders. Perhaps it's related? It appears unlikely the issue is in example-robot-data as there haven't been changes to the URDFs themselves?!

[2020-04-02 22:49] cmastalli commented on #17
@wxmerkt this could happen.
@jcarpent do you know if this issue is related with Pinocchio changes?

[2020-04-03 05:29] florent-lamiraux commented on #17
At first glance, the test line 44 seems to indicate that pinocchio should not look for meshes.

For each `path` in `ROS_PACKAGE_PATH` environment variable, do:
1. check that there is a package.xml file in `path`,
2. check that `path + '/example-robot-data/robots/ur_description/meshes/ur5/collision/base.stl'` exist.
If 1 and 2 are true for at least one `path`, it is probably a problem in pinocchio.

[2020-04-03 06:59] nim65s commented on #17
@cmastalli : Looking at the history of this file: https://github.com/Gepetto/example-robot-data/commits/master/robots/ur_description/urdf/ur5_robot.urdf nothing  ever changed about that, apart from 2545adcf0bbecd43ed40d6be03820cb53f3a16d7 from @florent-lamiraux

You can try to revert this commit and check if it fix the issue for you.

[2020-04-03 08:54] mfocchi commented on #17
Hi guys, I have ubuntu 16, robotpkg-py27-pinocchio 2.3.1, robotpkg-py27-qt4-gepetto-viewer-corba 5.3.2, and reverting example_robot_data back to the commit previous of 2545adc it loads the meshes, but the visualization is screwed up and spits a warning:
"Warning: your locale convention uses ',' as decimal separator while DAE expects '.'."
I am sure you have seen this before

[2020-04-03 09:11] cmastalli commented on #17
@florent-lamiraux thanks for your feedback. I reverted the commit that @nim65s suggested us, and it fixed my problem as well as @mfocchi.
I will create soon a PR!

@mfocchi I think this is related with an issue in 16.04, and @jmirabel or @florent-lamiraux might know the solution (probably installing by source).

In Ubuntu 18.04 works well. See the pic
![Screenshot from 2020-04-03 10-05-33](https:/

[2020-04-03 09:22] cmastalli commented on #5
@gabrielebndn sorry for a late reply. I agree with @nmansard.

We could remove the robot wrapper dependency, and then add a dedicate visualization (for user inspection only) in GV (and / or meshcat).

I hadn't have time to work on it. Feel free to do it if you want.

[2020-04-03 09:58] wxmerkt commented on #17
We should not revert https://github.com/Gepetto/example-robot-data/commit/2545adcf0bbecd43ed40d6be03820cb53f3a16d7 as it fixed a previous issue with URDFs in this package.

Is this really a different behaviour between 16.04 and 18.04 using the latest release?

[2020-04-03 10:34] cmastalli commented on #17
@wxmerkt that commit changed the way we include mesh files in the UR robot, and I couldn't find the reason of this change. Furthermore, if you check other robot URDFs, you will observe that we include differently the meshes (different to the proposition of 2545adc). @florent-lamiraux do you remember what was the reason of this modification?

On the other hand, my screenshot shows the robot display

[2020-04-03 10:41] jmirabel commented on #17
Is `example-robot-data` a subfolder of the folders in ROS_PACKAGE_PATH ?

If you don't want this, another fix is to modify the `example_robot_data.loadUR` so that it adds a path to example-robot-data to the list of searched paths. This is very easy to do.

[2020-04-03 10:47] cmastalli commented on #17
IHMO it shouldn't be.

I agree with this proposition.

[2020-04-03 11:12] wxmerkt commented on #17
I think to remember that the conversation was to fix the other URDFs following the UR example as well.

This sounds like a good proposition.

`example-robot-data` can be built and found as a main package on the ROS_PACKAGE_PATH. As thus, the root of the package `example-robot-data` is the root of the repository, not `example-robot-data/robots/ROBOT_NAME`.

[2020-04-03 12:02] wxmerkt commented on #17
I am trying to reproduce this locally and cannot (latest devel on Pinocchio, with and without HPP-FCL, latest devel on example-robot-data, Ubuntu 18.04 - all locally compiled).
I noticed in the error message above that your Pinocchio has no meshLoader or not compiled with hpp-fcl, is that correct?

@mfocchi Could you please provide the versions for Pinocchio (and with/without HPP-FCL)?

[2020-04-03 12:06] florent-lamiraux commented on #17
The objective was to remove dependency to ur_description. It was agreed that this change should be generalized to the other robots.

[2020-04-03 12:13] mfocchi commented on #17
@wxmerkt  I am using  pinocchio installed from debian package robotpkg-py27-pinocchio, version 2.3.1, robotpkg-py27-qt4-gepetto-viewer-corba 5.3.2, I do not have HPP-FCL

in gepetto viewer I see somthing like this:

![Uploading image.png…]()

[2020-04-03 12:25] florent-lamiraux commented on #17
@cmastalli : using `ROS_PACKAGE_PATH` does not constitute a dependency to ROS. It is a way to tell URDF parser where to find files starting with `"package://"`. We used this variable name to follow ROS convention, but we could have used "URDF_PACKAGE_PATH" in pinocchio parser.
In the same way you use `PYTHONPATH` to tell python where to find a module when using command `import`, or `LD_LIBRARY_PAT

[2020-04-03 12:56] cmastalli commented on #17
Yes, I agree. I guess the main issue was to do not continue in other robots and to do not document this action in Readme file.

[2020-04-03 13:00] cmastalli opened #19 "Redefine the mesh path for all robots to match URDF convention"
This task was partially done for the UR robot. We need to
 1. Modify all URDF files to match convention
 2. Add README documentation (optional)

[2020-04-03 13:27] nim65s commented on #19
Why would we need any documentation ? The whole point is that everything should work out of the box in all cases, right ?

[2020-04-03 13:33] cmastalli commented on #19
Yes, I agree. But I am not sure if this possible. I didn't think about it.

[2020-04-26 17:07] wxmerkt commented on #16
Not sure we want this in this repository? I think it would be better to handle this at the gepetto-viewer level to avoid adding an assumption and dependency on a package providing URDFs+meshes.

[2020-04-26 17:10] wxmerkt opened #22 "Distinguish build and runtime dependencies"
At present, Pinocchio is required as a build dependency in the CMakeLists. However, I think it should be a runtime dependency only as the Python files are _installed_ and there is no Pinocchio required to compile them.

Changing this avoids having a hard build-time dependency on Pinocchio, and also resolves the circular dependency by having this repository as a submodule in Pinocchio.

I think a v

[2020-04-26 17:40] cmastalli commented on #22
My only comment is we shouldn't make it a submodule of Pinocchio or any package. It's unnecessary complexity IMHO.

[2020-04-26 17:46] cmastalli commented on #16
What do you mean with check?

Additionally this repository uses Gepetto viewer for quick visualization to interested users. I don't think we need to support other viewers (just to make easier maintenance).

[2020-04-27 09:59] nim65s commented on #16
@wxmerkt : I think we should add this in gepetto-viewer, and then test that it works well here.

@cmastalli : I mean

[code]

This could launch gepetto-gui, instead of showing an error that doesn't actually display the right name of the binary the user should launch.

[2020-04-27 19:52] #22 closed

[2020-04-29 17:43] cmastalli opened #26 "Pinocchio models are not pickable due to additional `armature` variable"
For more details see: https://github.com/stack-of-tasks/pinocchio/issues/1192#issuecomment-621360400

[2020-06-19 13:08] jcarpent opened #30 "INSTALL_PYTHON_INTERFACE_ONLY not the right naming"
It would be better to have a variable called:
`INSTALL_ROBOTS_DESCRIPTIONS`

[2020-06-19 13:27] jcarpent opened #31 "Example-robot-data on Conda"
Just a follow-up, I'm pushing this package on conda for easy use. See https://github.com/conda-forge/staged-recipes/pull/11955 for further details.

[2020-06-19 13:32] cmastalli commented on #31
Could you update the coda installation procedure in the README?

[2020-06-19 13:33] cmastalli commented on #30
Could you elaborate your suggestion?
Is this related with the need of setting the `ROS_PACKAGE_PATH` variable?

[2020-06-19 14:09] jcarpent commented on #30
It is not clear what is not included when activating `INSTALL_PYTHON_INTERFACE_ONLY`. It would be better to set or unset something related to the installation of the meshes.

[2020-06-19 14:17] nim65s commented on #30
@cmastalli : "installing only the python module" == "not (installing the robot descriptions)". Almost equals, because we also have tons of generated stuff and metadata, like *.pc, *.cmake, some *.h, documentation, and package.xml.

@jcarpent : Do you need this variable ? is it raising any issue ?

I created this variable to have one easy way to split projects between python modules and the other t

[2020-06-19 14:19] nim65s commented on #30
@jcarpent : if you need a way to activate or deactivate installation of the meshes, we can do that, but it is almost not related with `INSTALL_PYTHON_INTERFACE_ONLY`.
We could say that `INSTALL_PYTHON_INTERFACE_ONLY` implies not installing meshes, but I don't think this statement would be useful.

[2020-06-19 14:20] cmastalli commented on #30
Maybe it would be a more clear the name `INSTALL_ONLY_PYTHON_MODULE`. However, I am fine with the actual name.

[2020-06-19 14:31] nim65s opened #34 "document robots origin & individual licences"
Isn't it hazardous to provide files copied from other repository under a given license (except if the original license authorizes it) ?

_Originally posted by @jmirabel in https://github.com/Gepetto/example-robot-data/pull/33#issuecomment-646652583_

[2020-06-19 14:33] nim65s commented on #34
And, obviously, double check that we can actually redistribute, and under which terms.

Many robots have been added by different people at different time, and we should have checked that each and every time, but we probably didn't.

[2020-06-19 14:33] jcarpent opened #35 "modelPath not pointing to the right location"
@nim65s @cmastalli

I think there is a current issue in the way the Python libs is retrieving the absolute mesh PATH.
Currently, all the meshes are related to `package:\\example-robot-data/robots/foo_description` but when looking for the mesh path, this one is pointing to:
`${CMAKE_INSTALL_PREFIX}/example-robot-data/robots`, meaning that there is an `example-robot-data/robots` which is duplicated.

[2020-06-19 14:37] nim65s commented on #35
ref mainly #19, but also #9 & #21

[2020-06-19 14:38] jcarpent commented on #34
I will push the original license for Panda then, you're right.

[2020-06-19 14:54] nim65s commented on #35
On my side,
[code]

So I think this is the intended behavior.

[2020-06-19 15:33] jcarpent commented on #35
But it the path for the visuals should be: `/home/gsaurel/local/robotpkg/install/share`

[2020-06-19 16:33] nim65s commented on #35
fixed in 6a1807747f58ba467c67e017f4056451ec12efb8 ; @wxmerkt @cmastalli : can you test that please ?

[2020-06-19 16:34] nim65s commented on #35
I guess the list implies that we could provide the old one and the new, just to be sure… But this is cluttered enough already, so if we can avoid that it's better.

[2020-06-19 17:04] jcarpent commented on #35
Thanks a lot @nim65s for your precious help.

[2020-06-19 18:13] wxmerkt commented on #35
From reading the commit, it looks good (didn't run it locally)

[2020-06-20 08:14] #35 closed

[2020-06-20 08:51] nim65s opened #37 "Tests fail in `make release` without installation"
Tests still fail in `make release` without installation. But this can be fixed later.

_Originally posted by @nim65s in https://github.com/Gepetto/example-robot-data/pull/36#issuecomment-646962947_

[2020-06-22 09:48] jcarpent commented on #19
Done.

[2020-06-22 09:48] #19 closed

[2020-06-22 09:48] jcarpent commented on #9
Done.

[2020-06-22 09:48] #9 closed

[2020-08-14 07:11] #37 closed

[2020-08-19 22:11] jcarpent commented on #31
Solved.

[2020-08-19 22:11] #31 closed

[2020-08-19 22:13] jcarpent commented on #1
Weird naming, but lets keep it as people have become familiar to it.

[2020-08-19 22:13] #1 closed

[2020-08-19 22:14] jcarpent commented on #12
I would be in favour of supporting a maximum number of robots.

[2020-08-19 22:15] jcarpent commented on #26
`armarture` will become soon an element of Model. Let's wait a bit and this issue will be solved.

[2020-08-19 22:16] jcarpent commented on #17
This seems to be solved.

[2020-08-19 22:16] #17 closed

[2020-09-17 09:37] pFernbach opened #50 "Talos collision shape of feet is different than in talos_data"
See https://github.com/Gepetto/example-robot-data/blob/a9dea8c2dfe28ae5bf36f1e26a7936fdc49be440/robots/talos_data/robots/talos_reduced.urdf#L2187-L2201  and  https://gitlab.laas.fr/stack-of-tasks/talos-data/-/blob/master/urdf/talos_reduced.urdf#L2187-2209

The model of talos_data is the correct one, the box shape used in example-robot-data have two issue: It is lower than the real feet (~5mm close

[2020-09-17 10:16] cmastalli commented on #50
From my personal experience, it is better (faster and more accurate) to define a box instead of using a mesh file.

I understand that our box is not right, but I would vote to just define the proper values rather than copy pasting the talos-data one.

[2020-09-17 11:38] jcarpent commented on #50
I would say, we should use the initial model from PAL if we want to avoid further burden at the user level. The change are not documented and it might imply that bugs are occuring because of this.

[2020-09-17 12:30] cmastalli commented on #50
This code stars from talos-data which this latter one starts from Pal code. I believe this error might be existed in root repos

[2020-09-18 08:54] pFernbach commented on #50
Yes, this already caused such issue.

Both version comes from PAL and depend on an argument that you must specify when building the urdf from the xacro :
https://gitlab.laas.fr/stack-of-tasks/talos-data/-/blob/master/robots/talos_lower_body.urdf.xacro#L18

talos_data use 'default' and example-robot-data use 'thinbox'. This last one is absolutely not accurate and will not detect a lot of collisions

[2020-09-18 08:57] jcarpent commented on #50
@pFernbach I would suggest fixing this inaccuracy. Could you handle it? Maybe, it would be nice to have both models available. The default one being the most accurate one.

[2020-09-18 09:28] pFernbach commented on #50
I can. This mean using the mesh in the `talos_reduced.urdf` and creating a new urdf with the box ? `talos_reduced_box.urdf` ?

[2020-09-18 10:26] jcarpent commented on #50
Yes, this is the idea. Thanks.

[2020-09-21 14:10] cmastalli opened #52 "Cmake issue when Pinocchio is installed with CppAD support"
I cannot compile this repository if I install Pinocchio with CppAD support (I am using the latest devel branch).
This is the error message when I typed `cmake ../`:

[code]

[2020-09-21 14:11] nim65s commented on #52
This is a known issue from jrl-cmakemodules / pinocchio, ref. https://github.com/loco-3d/curves/pull/50.

[2020-09-21 14:11] #52 closed

[2020-10-05 10:16] jcarpent commented on #50
Solved by #51.

[2020-10-05 10:16] #50 closed

[2020-10-28 09:17] proyan opened #57 "Uniform API of the loaders"
Hi guys,

The API of the robot loaders is too confusing. For example, to load solo, the API: `loadSolo()`, and to load solo12, API: `loadSolo(False)`

The reason we have the `load` functions, is to be simplify the loading of the urdfs/srdfs by just one single command. In order to do that, the `load<robotName>` the `robotName` here should be clear enough.

However, what I often have to do is to loo

[2020-10-28 09:47] nim65s commented on #57
The idea is to have only one list of available robots. For now, this list consists of strings. It would be better to use an Enum, but for now, you are expected to use:
`load('solo')` / `load('solo12')` / `load('talos')` / `load('talos_arm')` / `load('talos_legs')`.

As this list is used in many places in the code base, it is important to have it only once, to avoid duplication. Right now, it is in

[2020-10-28 09:55] proyan commented on #57
I see. I agree `load(<robotname>)` is a much better option than what I'm using.
In that case, we should be deprecating `load<robotName>(*args)` to make users use load() as the only available choice. I have to confess, I did not know `load()` existed untill 7 minutes ago

[2020-10-28 09:59] nim65s commented on #57
I agree, but technically we can't deprecate `load<robot>()`, because, at least for now, `load(<robot>)` is mostly launching `load<robot>()`

[2020-10-28 10:02] nim65s commented on #57
Or we would have to rename `load<robot>()` into an internal `_load<robot>()`, and create `load<robot>()` that are deprecated and launch `_load<robot>()` and make `load(<robot>)` also load `_load<robot>()`. Which is slighly boring, but I could do that.

[2020-10-28 13:44] cmastalli commented on #57
This will be the right way, but I agree it is very boring task if we don't want to break somebody else code.

[2020-12-04 18:25] cmastalli opened #60 "API deprecation method doesn't report message with "python ...""
I can only see the messages when we run `ipython ...`.
I think fixing this issue is important to let users know the deprecation.

[2020-12-04 18:29] cmastalli opened #61 "Error message when we do loadANYmal()"
The message that it is reported is:
[code]

However, it should be `load('anymal')`

[2020-12-04 23:12] #60 closed

[2020-12-04 23:12] #61 closed

[2021-02-10 14:31] pFernbach opened #65 "talos_leg model have wrong dimensions for q0"
I guess the issue is also there for all the "reduced" models. When loading the talos_leg robot the q0 vector contains the joints positions for the complete model and not only for the freeflyer + legs.

This cause an error in the crocoddyl notebook.

[2021-03-03 17:24] olivier-stasse opened #67 "Talos not correct for pybullet - No link should be left without inertia"
In pybullet, links should have an inertia and a mass specified even if this is zero.
Otherwise the default mass value is 1 Kg.
See https://github.com/robotology/icub-models/issues/12

A PR follows fixing this issue.

[2021-03-03 17:27] jcarpent commented on #67
This is awesome!

[2021-03-03 18:10] olivier-stasse commented on #67
What I should have mentionned is that I did the corrections for TALOS but not for the other robots...

[2021-03-03 18:17] olivier-stasse commented on #67
It looks like that at least the following files would be affected:
 * kinova.urdf < link name="j2s6s200_end_effector" / >
 * ur5_joint_limited_robot.urdf:  < link name="tool0" / >
 * ur3_robot.urdf:  < link name="tool0" / >
 * ur10_robot.urdf:  < link name="tool0" / >
 * ur3_joint_limited_robot.urdf:  < link name="tool0" / >
 * romeo.urdf:  < link name="l_sole" / >
 * tiago.urdf:  < link name="han

[2021-03-03 18:49] wxmerkt commented on #67
I performed those fixes for Anymal a while back - but agree we should carry them through all URDFs. I recall at some point some dynamics libraries or simulators did not like "0" inertia either (i.e. crashed) so we went with 1e-6 or 1e-9. I can't recall which where affected though.

[2021-03-10 15:55] #67 closed

[2021-03-10 15:56] #57 closed

[2021-03-17 09:45] jcarpent commented on #12
@dadouz Could you add the robot inside this repo, it should be relatively easy.

[2021-03-17 10:58] cmastalli commented on #12
I would also be in favored to add these two robots.
But remember that the mission of this package is to provide a set of robots for prototyping, unittesting and benchmarking.
Its intension is not to be used for real applications on robots.

@dadouz we are not planning to include ourself these robots. However, you're welcome to contribute on this topic.

Let us know if you are planning to integrate

[2021-03-17 11:07] nim65s opened #71 "Add bolt robot"
eg. from https://github.com/open-dynamic-robot-initiative/robot_properties_bolt/tree/master/src/robot_properties_bolt/robot_properties_bolt

thanks @gfadini for raising the issue :)

[2021-03-17 11:31] cmastalli commented on #71
Awesome, thanks for taking care @nim65s!

[2021-04-16 10:53] ntorresalberto opened #75 "parsing error while loading universal robot urdf/dae files"
Hi,
From what I read [here](https://github.com/stack-of-tasks/pinocchio/issues/838) it could be related to the hpp-fcl library.

Basically I'm trying this:

[code]

[code]

I can reproduce the same error while using pinocchio with [ros-industrial](https://github.com/ros-industrial/universal_robot) while trying to `buildFromUrdf` to load ur3, ur3e, ur5e, ur10, ur10e.

Some info about my setup: I'm

[2021-04-16 11:52] jcarpent commented on #75
This issue is due to Assimp in fact. I will try to fix it by regenerating correctly the mesh.

[2021-04-16 11:53] jcarpent commented on #75
But `robot = example_robot_data.load('ur5')` works well.

[2021-04-16 12:14] ntorresalberto commented on #75
Yes, exaclty.
I listed the UR robots that cause this problem with `universal-robots`, I don't know if it's useful but ur5 works and ur5e doesn't.

Thank you.
I don't know what that is, but let me know if I can be of help.

[2021-04-16 12:17] cmastalli commented on #75
@jcarpent -- we need to update our unittest as well, could you handle it?

Unfortunately, we are just testing UR5 (see https://github.com/Gepetto/example-robot-data/blob/master/unittest/test_load.py#L106-L110)

[2021-04-16 12:20] jcarpent commented on #75
I'm adjusting the policy inside hpp-fcl. Please see https://github.com/humanoid-path-planner/hpp-fcl
@cmastalli I don't have time to update the tests. I let you do this task.

[2021-04-16 12:47] cmastalli commented on #75
I have created a PR with the need unittests. However, we need to wait a new HPP-FCL release before merging it.
@jcarpent -- could we possible to have a soon release in HPP-FCL?

[2021-04-28 17:50] wxmerkt opened #77 "example-robot-data on conda forces downgrade of pinocchio & hpp-fcl"
[code]

[2021-04-28 18:23] jcarpent commented on #77
This is because example robot data needs to be rebuilt manually after a new release of dependencies. I don’t know how to trigger it automatically.

[2021-04-28 18:36] jcarpent commented on #77
We can specify indeed a minimal version indeed

[2021-05-04 17:58] cmastalli commented on #75
This has been solved!

[2021-05-04 17:58] #75 closed

[2021-05-17 20:46] hjw-1014 commented on #16
Hi, @nim65s . I also wanna check how to launch gepetto-gui. I tried the same thing as you mentioned:

[code]

Cam this be solved? Thanks in advance.

[2021-05-19 19:10] hjw-1014 opened #82 "Is tiago_dual_robot.urdf provided?"
Hi, I'm very new to urdf. I need a **TIAGo++** file, eg. tiago_dual_robot.

Tiago robot (**tiago.urdf**) is provided here, but it has only one hand, so I wanna ask, Is there also **tiago_dual_robot.urdf** provided or should I edit urdf of **tiado.urdf** here to add an arm?

I found[ here ](https://github.com/pal-robotics/tiago_robot), tiago_dual_description is provided, but inside is xacro file.

[2021-05-19 20:37] nim65s commented on #82
Hi,

I think I can add this robot here. I'll give it a try tomorrow.

[2021-05-19 20:42] hjw-1014 commented on #82
Thank you so much, that would help me a lot.

[2021-05-26 12:33] #82 closed

[2021-06-03 07:31] nmansard opened #87 "question about mass distribution in double pendulum"
The double pendulum has been introduced by @PepMS so I guess this question is mostly for him, yet I open it here if anybody else can suggest relevant remark.
The masses chosen for the double pendulum are
[code]
Is there a reason why the mass of the second body (0.33) is larger than the mass of the first body (0.26)? Where are these values coming from?

Thx

[2021-06-03 07:43] PepMS commented on #87
There's no specific reason. This was meant to be a toy example that helped me to enter the Crocoddyl world. I did this rough design in CAD and assigned materials to every part (I chose steel for no specific reason), hence the values.

I kind of remember that with a larger mass for the second body the FDDP solver converged faster from a cold-start. Probably, by designing a better cost function I wo

[2021-06-03 08:39] nmansard commented on #87
ok thx.

[2021-06-03 08:39] #87 closed

[2021-06-11 14:48] wxmerkt commented on #77
@jcarpent @nim65s has this been changed to a minimal version and can we thus close this issue?

[2021-06-11 14:53] nim65s commented on #77
This was probably solved by https://github.com/conda-forge/example-robot-data-feedstock/pull/11 ; but I didn't check

[2021-06-11 15:03] #77 closed

[2021-06-11 15:05] jcarpent commented on #77
@wxmerkt Did you check this working as you expected?

[2021-06-11 15:12] wxmerkt commented on #77
Yes just confirmed that it's working

[2021-06-11 15:16] jcarpent commented on #77
Thanks @wxmerkt, this was an open-loop solution. Glad to hear from you that this is working well.

[2021-06-12 22:33] jviereck opened #90 "Add FingerEdu robot"
If possible, I would like to add the FingerEdu to the example-robot-data package. We use this 3-dim fixed-base robot as educational platform for teaching. If the students can pip/conda-install the robot, it would make our life much easier.

If you are okay to add it I can try to make a PR.

[2021-06-12 22:34] jviereck commented on #90
Here is the link to the robot: https://github.com/open-dynamic-robot-initiative/open_robot_actuator_hardware/blob/master/mechanics/finger_edu_v1/README.md#fingeredu-v1

![image](https://user-images.githubusercontent.com/191719/121790381-dd25fd80-cbac-11eb-8b0b-ec449631eba9.png)

[2021-06-13 07:19] jcarpent commented on #90
Yes, sure! This is more than welcome. You can proceed with a new PR. Thanks a lot @jviereck for this suggestion.

[2021-06-14 12:25] jviereck commented on #71
I can do this after finishing finger_edu in #91  if you want. Let me know.

[2021-06-14 12:29] jviereck opened #92 "Rename Solo to Solo8v2"
There is a slight naming error right now in the package. When calling `load("solo")` it creates a Solo8. Note however, that "Solo" is the name of the quadruped platform as such, not of any specific robot.

Therefore, it would be better to have `load("solo8")`. Then, there are two versions of solo8: One with TI cards (called `solo8v1`) and one with udrivers (called `solo8v2`). They have different w

[2021-06-14 15:09] nim65s commented on #71
Sure, it would be wonderful if you could do that ! :D

[2021-06-15 07:38] nim65s commented on #92
For the first part, yes, we can rename "solo" into "solo8". I think we'll just need to keep "solo" working for a while, but with a deprecation warning.

For the second part, I'm not sure to understand your needs. For now, this project aims "to be used in benchmarking, unit-tests, teachings, tutorials or show-cases" ; but in those use cases, it doesn't really matter if there is a particular control

[2021-06-15 07:41] #90 closed

[2021-06-15 13:15] jviereck commented on #92
Thanks @nim65s for your input. Based on it I went with the name "Solo8" for now.  I created PR #93 for this.

[2021-06-17 16:05] #92 closed

[2021-06-17 17:20] jviereck commented on #92
Thanks for the merge @nim65s .

Would it be possible to make a new release that include the finger_edu and bolt?

[2021-06-24 18:55] nim65s commented on #71
fixed in #94. Thanks @jviereck !

[2021-06-24 18:55] #71 closed

[2021-06-25 09:11] gfadini opened #97 "[question] bolt initial configuration"
Hi,
I'm not sure if here is the right place to ask, maybe I should replicate over to https://github.com/open-dynamic-robot-initiative/robot_properties_bolt
I noticed that there is an small gap ~3cm between the foot and the ground for the bolt model for the initial configuration in the srdf.
Is this done on purpose to include the dimensions of the foot which is missing in the model?
If not, maybe t

[2021-07-22 12:09] nim65s opened #99 "Relicense or Remove Tiago"
As found by #98, Tiago is licensed by a [Creative Commons BY-NC-ND 3.0](https://github.com/pal-robotics/tiago_robot/blob/kinetic-devel/tiago_description/package.xml#L12), which clearly forbids us to distribute this derivated work.

We should either :
- kindly ask PAL-Robotics  to either reconsider the license of their work, or to explicitely give us an exception
- remove Tiago from example-robot-d

[2021-07-23 18:04] cmastalli commented on #99
I believe we should ask PAL first and explain them our mistake. Otherwise, we have to remove it.

Removing the Tiago robot might repercute many folks. So, if needed, we should print a deprecated message explaining the major reasons for the remotion.

[2021-09-17 09:16] jcarpent commented on #99
Tiago and Talos do not have the same license?

[2021-09-17 09:51] nim65s commented on #99
no

[2021-09-17 10:06] #34 closed

[2021-10-12 16:20] GiulioRomualdi opened #105 "icub is not correctly loaded in the gepetto viewer"
Hi all, I'm trying to visualize the `icub` stored in this repo.
I installed the `gepetto gui` and the `example-robot-data` from `conda`.
When I try to spawn `icub` with the following command `python -m example_robot_data icub` I got this result

![2021-10-12 18-14-58](https://user-images.githubusercontent.com/16744101/136992588-50226713-963d-4749-aa95-3f39eaa8ec72.png)

This is the output of `cond

[2021-11-04 08:44] jcarpent commented on #105
Is it working well in MeshCat? What is the version of Pinocchio?

[2021-11-04 09:33] GiulioRomualdi commented on #105
Hi @jcarpent, Pinocchio version is `2.6.3`

Here when I try to view it with `MeshCat`
![image](https://user-images.githubusercontent.com/16744101/140290244-0b2768f4-abbe-4372-a363-0333a39c2ffa.png)

This is the script I used

[code]

[2021-11-04 09:36] jcarpent commented on #105
The issue is coming from the iCub model within the project.
I would suggest switching to a descent version.
@GiulioRomualdi Would you have time to select one of the available model and to put it within example-robot-data?

[2021-11-04 09:48] GiulioRomualdi commented on #105
Yes, I can try to deal with that. In this concern, the latest iCub model that is automatically generated from the cad is [this one](https://github.com/robotology/icub-models/blob/9e91a7d7d09b4cf2c405f9b471965f6a6c3bab19/iCub/robots/iCubGazeboV2_5/model.urdf)

The model is different from the one currently stored in the `example-robot-data`

| New Version | Old Version |
|:-----------:|:------------

[2021-11-04 09:51] jcarpent commented on #105
As the old one does not look good in the viewer and we don't have time to investigate this issue, I would suggest removing it and replacing it with the proposed version.
Thanks a lot, @GiulioRomualdi for your contribution.

[2021-11-04 09:51] jcarpent commented on #105
@nim65s @cmastalli Any feedback?

[2021-11-04 09:53] cmastalli commented on #105
No, please let's do not change the ICub model. We are using as a unittests in some repositories, this might trigger issues in other projects.

What I would suggest is to investigate why this is broken the current one, and then fix it. I haven't tried from my side now, but it used to work before.

[2021-11-04 09:54] jcarpent commented on #97
I do think you should first discuss this issue with the creators of BOLT ;)

[2021-11-04 09:57] cmastalli commented on #105
Also adding other mesh files (for a new ICub) will increase unnecessary the dimension of the repo.

This project doesn't aim to integrate a particular model used in our experiments. Instead, it aims to have a set of robot models for prototyping, unittesting and teaching.

[2021-11-04 10:03] jcarpent commented on #105
I see two options:
- we keep as that and @cmastalli handle the fix
- we changed for the last model which is working well with Pinocchio and the project that relies on example-robot-data use a former release (which seems easy and does not break anything).

[2021-11-04 10:03] jcarpent commented on #105
I would go for the second to let people move forward.

[2021-11-04 10:28] cmastalli commented on #105
The problem is not the model, but the orientation of the mesh files.

This can be easily fixed by adapting the URDF.

I can provide a solution as soon I am available. But, unfortunately, I am extremely busy with other activities ATM.

Let's do not discuss about the second option.

[2021-11-04 10:58] jcarpent commented on #105
Sorry @GiulioRomualdi, you will need to wait :(

[2021-11-04 14:59] GiulioRomualdi commented on #105
I've just tried to load the new iCub model and everything works fine (except for the colors but this is a known issue in the `urdf` @traversaro)

![image](https://user-images.githubusercontent.com/16744101/140334114-f2ec4bb7-6676-4de7-bea2-7cdfba953dbd.png)

Just to understand if the problem is related to Pinocchio or the model stored within this repo, I try to load it with `iDynTree` running the

[2021-11-04 15:14] jcarpent commented on #105
Thanks @GiulioRomualdi for the nice report. So Pinocchio is the issue. We are all safe then ;)

[2021-11-04 16:01] GiulioRomualdi commented on #105
mmmh actually no, `pinocchio` is returning the very same result of `idyntree` so I think the problem is the model. Or iDynTree and Pinocchio have the same bug 🥲

[2021-11-04 16:03] jcarpent commented on #105
Yes, you're right. I meant Pinocchio is NOT the issue.

[2021-11-04 16:46] traversaro commented on #105
You know how they say, "great mind think alike".

[2021-11-04 19:30] cmastalli commented on #105
I am thinking that this might be related with an old bug in Gepetto viewer.

This URDF model has not been changed from the first time in that I integrated and used it.

[2021-11-22 09:05] nim65s commented on #99
I got an oral confirmation from PAL CEO & CTO: we can keep working like that. They will fix the license on their side when they will have time.

[2021-11-22 09:05] #99 closed

[2021-11-30 09:36] proyan opened #112 "Synchronizing simple_humanoid in pinocchio/models and example_robot_data"
I suggest that we move pinocchio's `simple_humanoid` from `pinocchio/models` to `example_robot_data`. It would make the sample humanoid available for other packages as well. Any views?

[2021-11-30 09:37] jcarpent commented on #112
Totally fine on my side.

[2021-11-30 09:39] proyan commented on #112
Ah my bad! It looks like it is already there, but is duplicated in pinocchio! This issue is ill-placed, I'll close it.

[2021-11-30 09:45] proyan commented on #112
I'll create a PR synchronizing the models from pinocchio and here, let's change the direction of this issue :)

[2021-11-30 09:51] cmastalli commented on #112
It sounds good for me as well.
Thanks @proyan for taking care of it :)

[2021-12-02 16:26] gfadini commented on #97
You're right @jcarpent, these details really depend on how the robot models were generated, I'll close the issue

[2021-12-02 16:26] #97 closed

[2021-12-02 18:37] cmastalli commented on #97
I think we could integrate the suggested modifications in this repo.

In the other robots, we have not such kind of offset. @gfadini feel free to make a PR here.

[2022-03-31 21:38] cmastalli commented on #112
Is this issue sorted out?

[2022-04-01 06:49] nim65s commented on #112
Actually, I added this robot in #69,  8 months before this PR, so I'm not sure what this PR is about.

[2022-04-01 08:14] proyan commented on #112
#120 handles the changes I was proposing

[2022-04-07 13:19] wxmerkt opened #122 "Dynamic properties of Panda URDF are missing"
Equally, the `q0` is all zeros, which is a singular configuration. This is the root cause for the issue described by @spykspeigel in https://github.com/loco-3d/crocoddyl/issues/1064

Cf
![image](https://user-images.githubusercontent.com/1664508/162207944-7a1f6566-6022-46e2-9adf-3fb0d99baffd.png)

[2022-06-24 09:09] traversaro opened #130 "Talos's gripper_left_motor_single_link and gripper_right_motor_single_link links inertia do not respect triangle inequalities"
The inertia value given in:
* https://github.com/Gepetto/example-robot-data/blob/v4.0.1/robots/talos_data/robots/talos_reduced.urdf#L1448
* https://github.com/Gepetto/example-robot-data/blob/v4.0.1/robots/talos_data/robots/talos_reduced.urdf#L1803

are not consisten with the physical constraints of inertia. In particular, they do not respect the triangle inequalities of inertia (see for example Eq

[2022-06-24 11:36] cmastalli commented on #130
@traversaro -- thank you so much for reporting this issue with plenty of details!!!

@olivier-stasse -- could you tell us why are the right values that we should use here?

@jcarpent -- perhaps, it makes sense to have such kind of "checks" in Pinocchio as Drake does.

[2022-09-06 14:41] stephane-caron commented on #105
Confirming from independent tests with [yourdfpy](https://github.com/clemense/yourdfpy) that the iCub URDF in example-robot-data has a mesh orientation issue.

The one from https://github.com/robotology/icub-models/blob/9e91a7d7d09b4cf2c405f9b471965f6a6c3bab19/iCub/robots/iCubGazeboV2_5/model.urdf is fine :ok_hand:

[2022-09-06 15:26] cmastalli commented on #105
I know that this issue is pending for a long time. However, feel free anyone to propose a solution if this is blocking you.
Unfortunately, I am quite busy with other priority tasks